In [3]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [5]:
names=['ayman','muaz']
for name in names:
    print(name.title())

Ayman
Muaz

In [9]:
for i in range(10,0,-1):
 print(i)

10
9
8
7
6
5
4
3
2
1

In [17]:
numbers=[1,3,6,9,8,12]
for number in numbers:
    if number % 3==0:
     print(number)

3
6
9
12

In [19]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [55]:
celcius_temps=[0,10,20,30,100]
farenheit_temps=[]
for celcius in celcius_temps:
 farenheit=(celcius*9/5)+32
 farenheit_temps.append(farenheit)
print(farenheit_temps)

[32.0, 50.0, 68.0, 86.0, 212.0]

In [63]:
for i in range(1,11):
 result=5*i
 print(' 5 *',i,'=',result)

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

In [70]:
numbers=[1,2,3,4,5]
total=0
for number in numbers:
 total=total+number
print('the sum is:', total)

the sum is: 15

In [76]:
my_string='hello_world!'
for character in my_string:
 print(character)

h
e
l
l
o
_
w
o
r
l
d
!

In [84]:
words=['apple','banana','kiwi']
for word in words:
    if len(word)>5:
     print(word)

banana